.App {
  text-align: center;
  margin: 15px 20px 0px;
}

.task-calendar-container {
  margin-top: 30px;
}

body {
  background-image: url(https://imgur.com/huX6Jv6.jpg);
  background-size: cover;
  max-width: 100%;
}

h1,
h2 {
  color: white;
  font-weight: bolder;
  padding-top: 20px;
  padding-bottom: 40px;
}

h2 {
  font-size: x-large;
  padding-bottom: 20px;
}

img {
  padding: 100px;
}

.task {
  margin-left: 300px;
  margin-right: 300px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;
}

.date {
  margin-left: 300px;
  margin-right: 300px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;
}

.complete {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;
}

#image {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.signInToggle {
  margin-top: 1rem;
  background-color: transparent;
  color: #000000;
  border: none;
  padding: 0.15rem 1.5rem;
}

.signInToggle:hover {
  background-color: transparent;
  color: #4b4b4b;
}
